<label>Below i the route content</label>
<router-outlet></router-outlet>
   
    <!--div class="container mt-5">
        <div style="border-left: 2px dashed rgb(219, 219, 219);
        height: 180px;
        position:absolute;
        left: 50%;">
        </div> 
        <div class="row">
            <div class="col-6">
                <div class="row mt-5">
                    <label>
                        <h1>some label here</h1>
                    </label>
                </div>
                <div class="row mt-3">
                    <div class="col-6">
                        <div class="input-group mb-3">
                            <select class="form-select" id="inputGroupSelect01" >
                              <option *ngFor="let d of data" [value]="[d.id, d.title]" (click)="getId($event)">{{d.title}}</option>
                            </select>
                          </div>
                    </div>
                    <div class="col-6">
                        <div class="input-group mb-3">
                            <select class="form-select" id="inputGroupSelect01" >
                              <option *ngFor="let d of data" [value]="[d.id, d.title]" (click)="getId($event)">{{d.title}}</option>
                            </select>
                          </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row mt-5">
                    <label>
                        <h1>some label here</h1>
                    </label>
                </div>
                <div class="row mt-3">
                    <div class="col-6">
                        <div class="input-group mb-3">
                            <select class="form-select" id="inputGroupSelect01" >
                              <option *ngFor="let d of data" [value]="[d.id, d.title]" (click)="getId($event)">{{d.title}}</option>
                            </select>
                          </div>
                    </div>
                    <div class="col-6">
                        <div class="input-group mb-3">
                            <select class="form-select" id="inputGroupSelect01" >
                              <option *ngFor="let d of data" [value]="[d.id, d.title]" (click)="getId($event)">{{d.title}}</option>
                            </select>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div-->
 