<div class="div container">
  <div class="card">
    <div class="card-body">
      <div class="col-md-12">
        <button class="btn btn-primary" style="float: right" (click)="addUser()">
          Add User
        </button>
      </div>
      <table class="table caption-top">
        <caption>
          List of Users:
        </caption>

        <thead>
          <tr>
            <th scope="col">ID:</th>
            <th scope="col">Name:</th>
            <th scope="col">Address:</th>
            <th scope="col">Contact:</th>
            <th scope="col">Actions:</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of info; let i = index">
            <td>{{ item.id }}</td>
            <td [routerLink]="['/api', item.id, 'view']" routerLinkActive="router-link-active">
              <a style="color: blue; cursor: pointer"
                (click)="viewUser(item.id)">{{ item.firstName + " " + item.lastName }}</a>
            </td>
            <td>{{ item.address }}</td>
            <td>{{ item.contact | phone }}</td>
            <td>
              <a style="color: blue; cursor: pointer" [routerLink]="['/api', item.id, 'edit']"
                routerLinkActive="router-link-active"><i class="bi bi-pencil-square"></i>
              </a>
              |
              <a style="color: red; cursor: pointer" (click)="deleteUser(i)"><i
                  class="bi bi-trash"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
